Source: php-luasandbox
Section: web
Priority: optional
Maintainer: Tim Starling <tstarling@wikimedia.org>
Build-Depends: debhelper (>= 9),
	liblua5.1-0-dev,
	pkg-config,
	php5.5-dev,
	cmake,
	libboost-dev,
	libgoogle-glog-dev,
	libdouble-conversion-dev,
	libjemalloc-dev,
	libtbb-dev
Standards-Version: 3.9.5
Homepage: https://www.mediawiki.org/wiki/Extension:Scribunto

Package: php5.5-luasandbox
Architecture: any
Depends: php5.5 | php5.5-cli, ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: Lua extension for PHP
 A PHP extension providing a sandboxed Lua environment which can be used to run
 untrusted code.
