Source: php-luasandbox
Section: web
Priority: optional
Maintainer: Tim Starling <tstarling@wikimedia.org>
Build-Depends: debhelper (>= 9), liblua5.1-0-dev, pkg-config,
  php5-dev,
  hhvm-dev, cmake
Standards-Version: 3.9.5
Homepage: https://www.mediawiki.org/wiki/Extension:Scribunto

Package: php-luasandbox
Architecture: any
Depends: php5 | php5-cli, ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: Lua extension for PHP
 A PHP extension providing a sandboxed Lua environment which can be used to run
 untrusted code.

Package: hhvm-luasandbox
Architecture: any
Depends: hhvm (= ${hhvm:Depends}), ${shlibs:Depends}, ${misc:Depends}
Description: Lua extension for HHVM
 A HHVM extension providing a sandboxed Lua environment which can be used to run
 untrusted code.
