#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	mkdir -p debian/build-php debian/build-hhvm
	## PHP
	tar -cf - --exclude=debian/build* --exclude=.pc . \
		| tar -xf - -C debian/build-php
	cd debian/build-php && /usr/bin/phpize && dh_auto_configure
	## HHVM
	tar -cf - --exclude=debian/build* --exclude=.pc . \
		| tar -xf - -C debian/build-hhvm
	cd debian/build-hhvm && /usr/bin/hphpize
	# workaround "cmake .." bug in HHVM's CMake extension code
	# Also, link to lua-c++
	cd debian/build-hhvm && cmake . \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DCMAKE_BUILD_TYPE=None \
		-DLUA_USE_CPP=1
	cd debian/build-hhvm && dh_auto_configure

override_dh_auto_build:
	cd debian/build-php  && dh_auto_build
	cd debian/build-hhvm && dh_auto_build

override_dh_auto_test:

override_dh_auto_install:
	INSTALL_ROOT=$(CURDIR)/debian/php-luasandbox make -C debian/build-php install
	DESTDIR=$(CURDIR)/debian/hhvm-luasandbox make -C debian/build-hhvm install

override_dh_gencontrol:
	echo "php:Depends=phpapi-$(shell php-config5 --phpapi)" >> debian/php-luasandbox.substvars
	# HHVM does *not* ensure binary compatibility
	echo "hhvm:ApiVersion=hhvm-api-$(shell /usr/bin/hhvm --version | sed -ne 's/^Extension API:\ //p')" >> debian/hhvm-luasandbox.substvars
	dh_gencontrol

override_dh_auto_clean:
	-rm -r debian/build*
	dh_auto_clean

.PHONY: override_dh_auto_configure override_dh_auto_build override_dh_auto_test override_dh_auto_install override_dh_gencontrol
