#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	/usr/bin/phpize
	dh_auto_configure

override_dh_auto_test:

override_dh_auto_install:
	INSTALL_ROOT=$(CURDIR)/debian/php-luasandbox make install

override_dh_gencontrol:
	echo "php:Depends=phpapi-$(shell php-config5 --phpapi)" >> debian/php-luasandbox.substvars
	dh_gencontrol

.PHONY: override_dh_auto_configure override_dh_auto_test override_dh_auto_install override_dh_gencontrol
